body{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: linear-gradient(120deg,#2980b9,#8e44ad);
    height: 100vh;
    overflow: hidden;
}

.bar{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 2000px;
    background-color: rgb(65, 67, 73);  
}

.bar h1{
    color: cornflowerblue;
}

.chat{
    position: absolute;
    top: 50%;
    left: 5%;
    width: 700px;
    background-color: blueviolet;
}

.bot{
    position: absolute;
    top: 20%;
    left: 60%;
}

.bot img{
    max-width: 100%;  
    height: auto;  
}
.credits{
    position: absolute;
    bottom: 0%;
    top: 95%;
    left: 0%;
    width: 2000px;
    background-color: rgb(65, 67, 73);  
    font-weight: bold;
    
}

.credits p1{
    position: absolute;
    left:700px; 
}

.credits p2{
    position: relative;
    left:620px; 
}



